.intro__list{
  margin:0;
  list-style: none;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

/* Визуально в макете цифры выглядят не жирными, поэтому добавил обертку span */
.intro__list>li>span{
  font-weight: normal;
}
