.cover__title {
  font-style: normal;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 4px 16px 0;
    font-size: 32px;
    line-height: 109%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    margin: 8px 104px 0;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width:1024px) {
  .cover__title {
    margin: 0 232px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin: 8px 312px 0;
  }
}
