@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url("./__li/footer__li.css");
@import url("./__li/_first/footer__li_first.css");
@import url("./__copyright/footer__copyright.css");
/* Разделение import и media */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px;
}

@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
    align-items: start;
    align-self: start;
  }
}

@media screen and (min-width: 550px) {
  .footer {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin: 0 24px 24px;
    align-items: center;
    align-self: auto;
  }
}

@media screen and (min-width:1024px) {
  .footer {
    margin: 0 48px 24px;
  }
}
